In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [3]:
# load dataset
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
datatypes = pd.DataFrame({'TrainDataType':train.dtypes,'TestDataType':test.dtypes}).reset_index()
datatypes

           index TrainDataType TestDataType
0       1stFlrSF         int64        int64
1       2ndFlrSF         int64        int64
2      3SsnPorch         int64        int64
3          Alley        object       object
4   BedroomAbvGr         int64        int64
..           ...           ...          ...
76     Utilities        object       object
77    WoodDeckSF         int64        int64
78     YearBuilt         int64        int64
79  YearRemodAdd         int64        int64
80        YrSold         int64        int64

[81 rows x 3 columns]

In [4]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
# try to normalize the data?

In [8]:
# missing data
total = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train.isnull().count()).sort_values(ascending=False)
missingData = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missingData

               Total   Percent
PoolQC          1453  0.995205
MiscFeature     1406  0.963014
Alley           1369  0.937671
Fence           1179  0.807534
FireplaceQu      690  0.472603
...              ...       ...
CentralAir         0  0.000000
SaleCondition      0  0.000000
Heating            0  0.000000
TotalBsmtSF        0  0.000000
Id                 0  0.000000

[81 rows x 2 columns]

4

In [9]:
test

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,9978,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,5005,Pave,IR1,HLS,AllPub,Inside,Gtl,...,82,0,0,144,0,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,1936,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,6,2006,WD,Normal
1455,2916,160,RM,1894,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,24,0,0,0,0,0,4,2006,WD,Abnorml
1456,2917,20,RL,20000,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,9,2006,WD,Abnorml
1457,2918,85,RL,10441,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,32,0,0,0,0,700,7,2006,WD,Normal
1458,2919,60,RL,9627,Pave,Reg,Lvl,AllPub,Inside,Mod,...,48,0,0,0,0,0,11,2006,WD,Normal

array([[ 0.34704187],
       [ 0.0071701 ],
       [ 0.53585953],
       ...,
       [ 1.07713679],
       [-0.48847623],
       [-0.42081658]])

In [11]:
#create column for new variable (one is enough because it's a binary categorical feature)
#if area>0 it gets 1, for area==0 it gets 0
test['HasBsmt'] = pd.Series(len(test['TotalBsmtSF']), index=test.index)
test['HasBsmt'] = 0 
test.loc[test['TotalBsmtSF']>0,'HasBsmt'] = 1
#transform data
test.loc[test['HasBsmt']==1,'TotalBsmtSF'] = np.log(test['TotalBsmtSF'])

d:\python\python36\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [12]:
test = pd.get_dummies(test)

In [13]:
test

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,11622,5,6,1961,1961,468.0,144.0,270.0,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,14267,6,6,1958,1958,923.0,0.0,406.0,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,13830,5,5,1997,1998,791.0,0.0,137.0,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,9978,6,6,1998,1998,602.0,0.0,324.0,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,5005,8,5,1992,1992,263.0,0.0,1017.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,1936,4,7,1970,1970,0.0,0.0,546.0,...,0,0,0,1,0,0,0,0,1,0
1455,2916,160,1894,4,5,1970,1970,252.0,0.0,294.0,...,0,0,0,1,1,0,0,0,0,0
1456,2917,20,20000,5,7,1960,1996,1224.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1457,2918,85,10441,5,5,1992,1992,337.0,0.0,575.0,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,9627,7,5,1993,1994,758.0,0.0,238.0,...,0,0,0,1,0,0,0,0,1,0

In [14]:
lr = LinearRegression()

In [18]:
X_train, X_test, y_train, y_test = train_test_split(test, train['SalePrice'], test_size = 0.25, random_state = 0)

In [19]:
lr.fit(X_train, y_train)

LinearRegression()

In [20]:
prediction = np.exp(lr.predict(X_test))
y_true = np.exp(y_test)

In [23]:
print("RMSE: ", np.sqrt(mean_squared_error(y_true, prediction)))

RMSE:  1.8926397612608325e-07

In [22]:
prediction

array([179900.00000005,  91299.99999999,  90000.00000006, 135959.99999983,
       155999.99999987, 129999.99999989, 140999.99999996, 173999.99999993,
        75000.        , 109007.99999992,  98299.9999998 , 324999.99999965,
        90999.99999998, 226700.00000001, 301500.00000008, 154999.99999998,
       173733.00000001, 415298.00000048, 281212.99999985, 177000.        ,
       287000.00000058, 100000.00000002, 149350.00000002, 208899.99999995,
        82500.00000003, 175000.00000004, 165000.00000026, 323999.99999993,
        67000.00000007, 403000.00000002, 123599.99999994, 142499.99999996,
       149899.99999991, 137899.99999984, 212900.00000016, 277499.99999968,
        89470.99999995, 190000.00000006,  97000.00000006, 118999.99999998,
       109999.99999992, 150999.99999981, 262999.99999992,  84500.00000001,
       132499.9999999 , 242999.9999999 , 229999.99999996, 213489.99999992,
       119899.99999999, 320000.00000003, 147000.00000014, 151000.00000002,
        52500.        ,  72499.99999998, 131999.99999995, 139500.00000005,
       200999.99999999, 234999.99999998, 378500.00000017, 127499.99999984,
       239899.99999996, 274970.00000012, 190000.00000017, 250000.00000007,
       117500.        , 154000.        ,  82500.00000004, 234000.00000015,
        87500.00000018, 175899.99999993, 117999.99999982, 185000.00000008,
       180500.00000013, 132999.99999998, 132499.99999996, 125499.99999985,
       317999.99999992, 146499.99999999, 312999.9999998 , 170000.00000016,
       192140.00000008, 115000.00000004, 191999.99999991, 301000.0000001 ,
       538000.00000043, 111999.99999996, 238999.99999986, 178400.00000015,
       260000.00000005, 173999.99999986, 190999.99999994, 125000.00000012,
       161500.00000005, 139000.00000005, 156999.99999976, 133999.99999983,
       129899.99999997, 175999.99999999,  99999.99999993, 153999.99999999,
       175000.00000017, 112000.00000011, 206999.99999968, 184000.00000014,
       259999.99999994, 142999.99999991, 173000.00000008, 325000.00000044,
        86000.00000002, 251000.00000007, 106250.00000006, 145000.00000004,
       165600.00000003, 180999.99999996, 135999.99999978, 165499.99999996,
       138999.99999988, 193499.99999995, 180999.99999992, 265000.00000013,
       175500.00000003, 185999.99999991, 131499.99999999, 214000.00000005,
       124499.99999989, 216836.9999999 , 118000.00000004,  97000.        ,
       175999.99999991, 106000.00000003, 235000.00000002, 165999.99999975,
       148000.00000004,  37900.00000007, 182999.99999994,  94000.00000009,
       254999.99999985, 181000.0000001 , 116500.00000001, 109999.99999991,
       216999.99999986, 179999.99999988, 136499.9999999 , 209999.99999978,
       167500.00000018, 316599.99999986, 319899.9999996 , 283463.00000005,
       180499.99999996, 187750.00000009, 221500.00000017,  86000.00000001,
       272000.00000009, 250000.00000062, 105000.00000006, 134999.99999993,
       149899.99999998, 412499.9999998 , 119999.99999978, 187499.99999985,
       116999.99999992, 215199.99999992, 158500.00000011, 115000.00000015,
       144999.99999994, 119500.00000001, 147399.99999994, 232600.00000016,
       120500.00000011, 128199.99999998, 107500.        , 337500.00000001,
       155000.00000005, 107999.99999997, 204999.99999995, 314813.00000044,
       344999.99999979, 224499.99999999, 135000.00000013, 154999.99999991,
       116999.99999999, 305999.99999996, 554999.99999982, 189999.99999997,
       386249.99999975, 108480.00000002, 108959.        , 175000.00000001,
       102775.99999996, 134450.00000012, 131399.99999997, 293077.00000017,
       127000.00000013, 269999.99999991, 266000.00000013,  80999.99999998,
       199999.9999998 ,  80499.99999996, 138999.99999999, 151999.99999994,
        84999.99999999, 118999.99999999, 144999.99999988, 121999.99999997,
       109899.99999992, 137999.99999985, 159894.99999999, 127999.99999981,
       159000.00000009, 190000.00000037, 196999.99999979, 200623.99999994,
       385000.00000048, 135999.99999994, 143999.99999992, 269789.99999989,
       249699.99999997,  79899.99999999, 145000.00000001, 128000.00000005,
       147999.99999995, 106499.99999999, 230000.00000007, 309999.99999994,
       172499.99999998, 275000.00000007, 149900.00000011, 158000.00000003,
       154999.99999983, 115000.00000003, 210000.00000017, 185849.99999997,
       157999.99999983, 172499.99999999, 178739.99999972,  82000.0000001 ,
       137499.99999997, 109999.99999998, 138499.99999993, 111999.99999997,
       223499.99999998, 181499.99999997, 121599.99999997, 137500.0000002 ,
       173999.99999996, 109999.99999979, 192000.        , 202500.0000001 ,
       120499.99999998, 359099.99999951, 438780.00000009, 266500.00000032,
       240000.00000014, 110499.99999999, 144999.99999979, 207500.00000011,
       135000.00000015, 119200.00000001, 172499.99999992, 154999.99999992,
       142999.99999993, 163999.99999979, 143499.99999999, 225999.99999992,
       174499.99999987,  68500.00000001, 125500.        , 233170.00000015,
       156999.99999972, 188499.99999996, 160999.99999991, 181000.00000005,
       103999.99999993, 128000.00000001, 188999.99999999,  92000.00000003,
       162000.00000005, 283999.99999996, 259999.99999998, 139999.99999989,
       236000.        , 126999.99999997, 198499.99999997, 143000.        ,
       134999.99999983, 105899.99999996, 221999.99999995, 213000.00000005,
       194000.00000004, 100999.99999999, 113000.00000001, 195000.00000021,
       163499.99999989, 143999.99999998, 155999.99999991, 230499.99999985,
       159999.99999993, 278000.00000007,  91000.        , 379999.99999969,
       294000.00000015, 227875.00000024, 144999.99999992, 140000.00000001,
       167900.00000019, 203999.99999973, 206000.00000004, 173000.        ,
       109499.99999988, 147999.99999975, 129899.99999993, 282922.0000001 ,
        99999.99999996,  91500.00000008,  85999.99999999, 145000.00000008,
       187500.00000013, 155000.00000001, 147500.00000005, 279999.99999987,
       170000.00000023, 160000.00000006, 202665.0000001 , 159499.99999984,
       159999.99999998, 149299.99999987, 206299.99999948, 248900.00000014,
        91499.99999992, 144000.00000006, 192999.99999987, 185000.00000008,
       168499.99999979, 139999.99999993, 176000.0000001 , 135000.00000004,
       113000.00000006, 142500.00000012, 118500.00000004, 392499.99999997,
       213250.0000002 , 156999.99999991, 290000.00000012, 130999.99999979,
       125499.99999993, 150500.00000014, 132999.99999997, 159950.        ,
       144000.00000013, 143999.99999999, 253293.00000001,  96999.99999998,
       227000.00000009,  90350.00000007, 132999.99999985, 145899.99999994,
       234999.99999973, 277000.00000249, 181900.        , 194499.99999988,
       262000.00000006, 245349.99999987, 175999.99999996, 119500.00000013,
       200499.99999997])